:root {
  --main-text-color: #434455;
  --main-background-color: #ffffff;
  --prressed-state: #404bbf;
  --primary-brand-color: #4d5ae5;
  --dark-color: #2e2f42;
  --light-color: #f4f4fd;
  --accent-color: #e7e9fc;
  --subtle-text: #8e8f99;
  --succes: #31d0aa;
  --modal-background: #fcfcfc;
}
/* Main page */

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-text-color);
  letter-spacing: 0.02em;
  background-color: var(--main-background-color);
}

h1,
h2,
h3 {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

header {
  background-color: var(--main-background-color);
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 1158px;
}

.list {
  list-style: none;
  display: flex;
  gap: 24px;

  justify-content: center;
}

.link {
  text-decoration: none;
}

/* Logo*/

.logo {
  color: var(--primary-brand-color);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  text-decoration: none;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}
.span-header {
  color: var(--dark-color);
}

.span-footer {
  color: var(--light-color);
  text-decoration: none;
}
.header {
  display: flex;

  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  border-bottom: 1px solid var(--accent-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-link {
  display: flex;
  gap: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}
.header-nav {
  display: flex;
  align-items: center;

  margin-right: auto;
}

.header-link-nav {
  color: var(--dark-color);
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 24px;
}
.current {
  display: block;
  position: relative;
  color: var(--prressed-state);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.current::after {
  content: "";
  position: absolute;
  background-color: var(--prressed-state);
  border-radius: 2px;
  width: 100%;
  height: 4px;
  bottom: -1px;
  left: 0;
}

.header-link .header-link-nav:hover,
.header-link .header-link-nav:focus {
  color: var(--prressed-state);
  transition: width 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link .header-link-nav:active {
  color: var(--prressed-state);
}

.header-nav-li {
  display: flex;
  gap: 40px;
}

address {
  font-size: 16px;
  color: var(--main-text-color);
  line-height: 1.5;
  font-style: normal;
}
.address-link {
  display: flex;
  gap: 40px;
}

.adress-li {
  display: flex;

  gap: 40px;
}

.special-teg-address {
  font-style: normal;
}
.address-link-nav {
  color: var(--main-text-color);
  text-decoration: none;
  line-height: 1.5;
  font-style: normal;

  padding-top: 24px;
  padding-bottom: 24px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link .address-link-nav:hover,
.address-link .address-link-nav:focus {
  color: var(--prressed-state);
  transition: width 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link .address-link-nav:active {
  color: var(--main-text-color);
}

/*Hero image (Figma)/Section 1 (VSC)*/
.section-one {
  padding: 188px 0;

  line-height: 1.07;
  background-color: var(--dark-color);
  letter-spacing: 0.02em;

  display: flex;
  justify-content: center;

  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  margin-left: auto;
  margin-right: auto;
}
.section-one-title {
  font-size: 56px;

  color: var(--main-background-color);
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;

  max-width: 496px;

  margin: 0 auto 48px auto;
}
.button-order-service {
  background: var(--primary-brand-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--main-background-color);
  font-family: "Roboto", sans-serif;
  cursor: pointer;

  min-width: 169px;
  height: 56px;
  border: none;

  margin-left: auto;
  margin-right: auto;

  display: block;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 32px;
  gap: 10px;

  border-radius: 4px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-order-service:hover,
.button-order-service:focus {
  background: var(--prressed-state);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--main-background-color);

  transition: width 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/*Section 1 (Figma)/Section 2 (VSC)*/
.section-two {
  background-color: var(--main-background-color);
  padding: 120px 0;
}

.section-two .container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.section-two-svg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  width: auto;
  background-color: var(--light-color);
  border-radius: 4px;
  margin-bottom: 8px;
}
.section-two-h {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--dark-color);
  letter-spacing: 0.02em;

  margin-bottom: 8px;
  margin-top: 8px;
}

.section-two-p {
  font-size: 16px;
  line-height: 1.5;
}

.section-two-li {
  width: calc((100% - 72px) / 4);
}

/* Section 2 (Figma)/Section 3 (VSC)*/

.section-three {
  padding-top: 0;
  padding-bottom: 120px;
}

.section-three-title {
  font-size: 36px;
  text-align: center;
  text-transform: capitalize;
  color: var(--dark-color);
  line-height: 1.11;
  letter-spacing: 0.02em;

  margin-bottom: 72px;
}

.section-three-li {
  gap: 24px;
  width: calc((100% - 48px) / 3);
}

/* Section 3 (Figma)/Section 4 (VSC)*/

.section-four {
  background-color: var(--light-color);
  padding: 120px 0;
}

.team-card {
  background: var(--main-background-color);
  font-size: 16px;
  line-height: 1.5;

  width: calc((100% - 72px) / 4);

  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.personal-card {
  padding: 32px 0;
}

.section-four-main-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-color);

  margin-bottom: 72px;
}
.section-four-title {
  text-align: center;
  text-transform: capitalize;
  color: var(--dark-color);
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  margin-bottom: 8px;
}
.section-four-p {
  font-size: 16px;
  text-align: center;
  margin-bottom: 8px;
}

.social-links-ul {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin: 0 auto;
}

.social-link {
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  background-color: var(--primary-brand-color);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--prressed-state);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--light-color);
}

.section-four-svg {
  fill: var(--light-color);
}
/* Section 4 (Figma)/Section 5 (VSC)*/
.section-five {
  padding: 120px 0;
}

.section-five-title {
  font-size: 36px;
  text-align: center;
  text-transform: capitalize;
  color: var(--dark-color);
  line-height: 1.11;
  letter-spacing: 0.02em;

  margin-bottom: 72px;
}

.section-five-li {
  width: calc((100% - 5 * 24px) / 6);
  height: 88px;
}

.client-link {
  width: 100%;
  height: 100%;

  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--subtle-text);
  border: 1px solid var(--subtle-text);
  fill: currentColor;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover,
.client-link:focus {
  border-color: var(--prressed-state);
  color: var(--prressed-state);
}

/*Footer*/
.footer {
  background: var(--dark-color);
  padding: 100px 0;
}
.main-footer-div {
  display: flex;
  align-items: baseline;
}
.footer-div-logo {
  margin-right: 120px;
}

.logo-footer {
  color: var(--primary-brand-color);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  text-decoration: none;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  display: inline-block;
  margin-bottom: 16px;
}

.footer-p {
  font-size: 16px;
  line-height: 1.5;
  color: var(--light-color);

  width: 264px;
}

.social-links-footer {
  display: flex;
  gap: 16px;
  align-self: center;
}

.social-link-footer {
  justify-content: center;
  align-items: center;
  width: 40px;
  gap: 16px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  background-color: var(--primary-brand-color);
}

.social-link-footer:hover,
.social-link-footer:focus {
  background-color: var(--succes);
  transition: width 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--light-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-foter:hover svg {
  transition: width 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links-p {
  line-height: 1.5;
  color: var(--main-background-color);
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 16px;

  margin-bottom: 16px;
}

.svg-footer {
  fill: var(--light-color);
}
.subscribe {
  margin-left: 80px;
}

.subscribe-label {
  display: inline-block;
  flex-direction: column;

  line-height: 1.5;
  color: var(--main-background-color);
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 16px;
}

.subscribe-p {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-background-color);
}

.subcribe-form {
  display: flex;
  gap: 24px;
}

.subscribe-input {
  width: 264px;
  height: 40px;
  border: 1px solid var(--main-background-color);
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--main-background-color);
}
.subscribe-input::placeholder {
  color: var(--main-background-color);
}
.subscribe-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--main-background-color);
  cursor: pointer;

  background-color: var(--primary-brand-color);
  border: none;
  border-radius: 4px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-button:hover,
.subscribe-button:focus {
  background: var(--prressed-state);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--main-background-color);

  transition: width 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-svg {
  margin-left: 16px;
  fill: var(--main-background-color);
}
/* BACKDROP */
.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background: rgba(46, 47, 66, 0.4);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  width: 408px;
  min-height: 584px;
  background-color: var(--modal-background);
  border-radius: 4px;

  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 72px 24px 24px 24px;
}

.modal-button {
  position: absolute;

  right: 24px;
  top: 24px;

  cursor: pointer;

  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: var(--accent-color);

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  background-color: var(--prressed-state);
  border: none;
  fill: var(--main-background-color);
}
.modal-p {
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  color: var(--dark-color);
  margin-bottom: 16px;
}
.svg-modal {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.modal-form-div {
  margin-bottom: 8px;
}
.modal-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--subtle-text);

  display: block;
  margin-bottom: 4px;
}
.modal-icon-div {
  position: relative;
}
.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus-within + .modal-input-svg {
  fill: var(--primary-brand-color);
}

.modal-input:hover,
.modal-input:focus {
  border-color: var(--primary-brand-color);
}

.modal-input-svg {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input-svg:hover,
.modal-input-svg:focus {
  fill: var(--primary-brand-color);
}
.modal-comment-div {
  margin-bottom: 16px;
}

.modal-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:hover,
.modal-textarea:focus {
  border-color: var(--primary-brand-color);
}
.modal-textarea:not(:placeholder-shown) {
  color: var(--dark-color);
  font-size: 14px;
  line-height: 1.5;
}
.modal-checkbox-div {
  margin-bottom: 24px;
}
.user-privacy-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--subtle-text);
}

.modal-span {
  width: 16px;
  height: 16px;

  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;

  fill: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
}

.input-user-privacy:checked + .user-privacy-label > .modal-span {
  background-color: var(--prressed-state);
  border: none;
  fill: var(--light-color);
}
.input-user-privacy + .user-privacy-label > .modal-span {
  fill: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
}
.input-user-privacy:focus + .user-privacy-label > .modal-span,
.input-user-privacy:hover + .user-privacy-label > .modal-span {
  border-color: var(--primary-brand-color);
}
.send-button {
  display: block;
  min-width: 169px;
  height: 56px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--main-background-color);
  cursor: pointer;
  background-color: var(--primary-brand-color);
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  margin: 0 auto;
}

.send-button:hover,
.send-button:focus {
  background: var(--prressed-state);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: width 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.privacy-policy {
  color: var(--primary-brand-color);
}
/* PORTFOLIO */

/* Filters*/

.section-portfolio {
  background-color: var(--main-background-color);
  padding-top: 96px;
  padding-bottom: 120px;
}
.button-menu {
  margin-bottom: 72px;
}
.button-filters-li {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.button-filters {
  background: var(--light-color);
  border: 1px solid var(--accent-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--primary-brand-color);
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.04em;

  padding: 12px 24px;
  border: 1px solid var(--accent-color);
  border-radius: 4px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-filters:hover,
.button-filters:focus {
  background: var(--prressed-state);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-background-color);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);

  border: 1px solid;
  border: 1px solid transparent;

  transition: width 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project-card {
  display: flex;
  column-gap: 24px;
  flex-wrap: wrap;
  row-gap: 48px;
}

.project-card-link {
  flex-wrap: wrap;
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-card-link:hover,
.project-card-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.project-card-li {
  width: calc((100% - 48px) / 3);
  background-color: var(--main-background-color);
}

.portfolio-h {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-transform: capitalize;
  color: var(--dark-color);
  letter-spacing: 0.02em;

  margin-bottom: 8px;
}
.portfolio-p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.portfolio-div {
  border: 1px solid var(--accent-color);
  border-top: none;
  padding: 32px 16px;
}

.portfolio-img {
  position: relative;
  overflow: hidden;
}

.portfolio-img-p {
  position: absolute;
  top: 0;
  left: 0;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light-color);
  padding: 40px 32px;
  background-color: var(--primary-brand-color);
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-img:hover .portfolio-img-p {
  transform: translateY(0%);
}
.project-card-link:focus .portfolio-img-p {
  transform: translateY(0%);
}
